<h1>Restaurants in Bordeaux</h1>

<hr>

<% @restaurants.each do |restaurant|%>
  <%= restaurant.name %>
  <br>
  <%= link_to "Details", restaurant_path(restaurant) %>
  <hr>
<%end%>

<%= link_to "New Restaurant", new_restaurant_path %>


